argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
blobfile==1.2.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
climage==0.1.3
clip==1.0
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
filelock==3.6.0
fonttools==4.33.3
ftfy==6.1.1
fvcore==0.1.5.post20220414
gdown==4.4.0
guided-diffusion @ git+https://github.com/entmike/guided-diffusion.git@9b813fafea39251db6da2c4873690c94d0f22763
idna==3.3
iopath==0.1.9
ipykernel==6.13.0
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.1
jsonschema==4.4.0
jupyter-client==7.3.0
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kdtree==0.16
kiwisolver==1.4.2
loguru==0.6.0
lpips==0.1.4
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
midas @ git+https://github.com/ahupp/MiDaS@44af432c4a316f10a511b67a8497d26637a4a3e5
mistune==0.8.4
nbclient==0.6.0
nbconvert==6.5.0
nbformat==5.3.0
nest-asyncio==1.5.5
notebook==6.4.11
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
portalocker==2.4.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pycryptodomex==3.14.1
pydotted==0.0.8
Pygments==2.12.0
pyparsing==3.0.8
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
pytorch3dlite @ git+https://github.com/entmike/pytorch3d-lite@5bacf67f6f89ef04a14f24d0fca92014373464ca
pyttitools-adabins @ git+https://github.com/pytti-tools/AdaBins@21303dd74709f7660cff61c5788942a7a15e2993
pytz==2022.1
PyYAML==6.0
pyzmq==22.3.0
regex==2022.3.15
requests==2.27.1
ResizeRight @ git+https://github.com/ahupp/ResizeRight@1b8c9bb698766c2312f28d3a98fad95758c098c3
scipy==1.8.0
Send2Trash==1.8.0
six==1.16.0
soupsieve==2.3.2.post1
stack-data==0.2.0
tabulate==0.8.9
termcolor==1.1.0
terminado==0.13.3
timm==0.5.4
tinycss2==1.1.1
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
typing_extensions==4.2.0
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
wget==3.2
widgetsnbextension==3.6.0
xmltodict==0.12.0
yacs==0.1.8
